@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-mocha-surface0;
  }
  
  body {
    @apply bg-mocha-base text-mocha-text antialiased;
  }
  
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-mocha-mantle;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-mocha-surface1 rounded-lg;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-mocha-surface2;
  }
}
